<!DOCTYPE html>
<html>
<head>
    <title>Aerele</title>
    <link rel="stylesheet"type="text/css"href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>Inventory management web application</h1>
    <nav style="background-color:rgb(228, 224, 224);padding:10px;">
        <a href="{{url_for('index')}}"style="text-decoration:none;color:Black;font-weight:bold;margin-right:20px;">Home</a>
        <a href="{{url_for('addproducts')}}"style="text-decoration:none;color:Black;font-weight:bold;margin-right:20px;">Add Product</a> 
        <a href="{{url_for('addlocations')}}"style="text-decoration:none;color:Black;font-weight:bold;margin-right:20px;">Add Location</a>
        <a href="{{url_for('initializequantity')}}"style="text-decoration:none;color:Black;font-weight:bold;margin-right:20px;">Initialize Quantity</a>
        <a href="{{url_for('movements')}}"style="text-decoration:none;color:Black;font-weight:bold;margin-right:20px;">Movements</a>
        <a href="{{url_for('productquantity')}}"style="text-decoration:none;color:Black;font-weight:bold;margin-right:20px;">Product Quantity</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
